@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
    /*Primary*/

    --LightRed: hsl(0, 100%, 67%);
    --OrangeYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);
    
    /*Gradients*/
    
    --LightSlateBlueBackground: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    
    /*Neutral*/
    
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    /*font*/
    --Font-size-paragraphs: 18px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox{
    border : 1px;
    width  : 550px;
    height : 350px;
    position : relative;
    top: 150px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 18px 15px 19px -7px rgba(0,0,0,0.43);
}
.innerBox{
    border : 1px ;
    width  : 275px;
    height : 350px;
    position : absolute;
    border-radius: 30px;
    /*background-color : var(--LightSlateBlueBackground);*/
    background-color: #6e00de; 
    background-image: linear-gradient(242deg, #6e00de 0%, #d800ff 72%);
    padding-left: 7px;
    padding-right: 7px;
}
.innerBoxResultH2{
    color: var(--Light-lavender);
    font-size: 22px;
    position: relative;
    top: 12px;
    left: 70px;
}
.cycleDiv{
    width: 150px;
    height: 150px; 
    border: 1px;
    position: relative;
    top: 20px;
    left: 60px;
    background-color: #6e00de; 
    background-image: linear-gradient(242deg, #6e00de 0%, #d800ff 72%);
    border-radius: 50%;
    box-shadow: inset 18px 15px 24px -3px rgba(0,0,0,0.53);
}
.score{
    position: absolute;
    top: 40px;
    left: 55px;
    color: var(--White);
    font-size: 37px;
}
.results{
    position: absolute;
    top: 95px;
    left: 50px;
    color: var(--Light-lavender);
    font-size: 18px;
}
.greath2{
    position: absolute;
    top: 220px;
    left: 100px;
    color: var(--White);
    font-size: 28px;
}
.scorePara{
    position: absolute;
    top: 260px;
    left: 10px;
    color: var(--Light-lavender);
    font-size: 16px;
}
.summaryH2{
    color: black;
    font-size: 22px;
    position: absolute;
    top: 12px;
    left: 300px;
}

/*reaction box section */
.reactionBox{
    position: relative;
    top: 60px;
    left: 295px;
    border: 1px solid var(--Pale-blue);
    width: 235px;
    height: 45px;
    border-radius: 7px;
    box-shadow: 18px 15px 19px -7px rgba(0,0,0,0.43);
}
.reactionSvg{
    position: absolute;
    top: 25%;
    left: 10px;
}
.reactionPara{
    position: absolute;
    top: 25%;
    left: 40px;
    color: var(--LightRed);
    font-weight: bold;
}
.reactionParaRate{
    position: absolute;
    top: 25%;
    right: 20px;
}
span{
    color: grey;
}

/*memory box section*/
.memoryBox{
    position: relative;
    top: 70px;
    left: 295px;
    border: 1px solid var(--Pale-blue);
    width: 235px;
    height: 45px;
    border-radius: 7px;
    box-shadow: 18px 15px 19px -7px rgba(0,0,0,0.43);
}
.memorySvg{
    position: absolute;
    top: 25%;
    left: 10px;
}
.memoryPara{
    position: absolute;
    top: 25%;
    left: 40px;
    color: var(--OrangeYellow);
    font-weight: bold;
}
.memoryParaRate{
    position: absolute;
    top: 25%;
    right: 20px;
}
/*verbal box content*/
.verbalBox{
    position: relative;
    top: 80px;
    left: 295px;
    border: 1px solid var(--Pale-blue);
    width: 235px;
    height: 45px;
    border-radius: 7px;
    box-shadow: 18px 15px 19px -7px rgba(0,0,0,0.43);
}
.verbalSvg{
    position: absolute;
    top: 25%;
    left: 10px;
}
.verbalPara{
    position: absolute;
    top: 25%;
    left: 40px;
    color: var(--GreenTeal);
    font-weight: bold;
}
.verbalParaRate{
    position: absolute;
    top: 25%;
    right: 20px;
}
/*verbal */
.visualBox{
    position: relative;
    top: 90px;
    left: 295px;
    border: 1px solid var(--Pale-blue);
    width: 235px;
    height: 45px;
    border-radius: 7px;
    box-shadow: 18px 15px 19px -7px rgba(0,0,0,0.43);
}
.visualSvg{
    position: absolute;
    top: 25%;
    left: 10px;
}
.visualPara{
    position: absolute;
    top: 25%;
    left: 40px;
    color: var(--CobaltBlue);
    font-weight: bold;
}
.visualParaRate{
    position: absolute;
    top: 25%;
    right: 20px;
}
/*button section*/
.button{
    position: relative;
    top: 100px;
    left: 295px;
    border: 1px;
    width: 235px;
    height: 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 35px;
    box-shadow: 18px 15px 19px -7px rgba(0,0,0,0.43);
    background-color: #6e00de; 
    background-image: linear-gradient(242deg, #6e00de 0%, #d800ff 72%);
}

/*responsive section*/
@media only screen and (min-width: 500px) and (max-width: 590px){
    .outerBox{
        border : 1px;
        width  : 550px;
        height : 760px;
        position : relative;
        top: 0px;
        border-radius:0px;
        background-color: var(--white);
    }
    .innerBox{
        border : 1px ;
        width  : 480px;
        height : 320px;
        position : absolute;
        border-radius:0px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #6e00de; 
        background-image: linear-gradient(242deg, #6e00de 0%, #d800ff 72%);
        padding-left: 7px;
        padding-right: 7px;
    }
    .innerBoxResultH2{
        color: var(--Light-lavender);
        font-size: 22px;
        position: relative;
        top: 12px;
        left: 35%;
    }
    .cycleDiv{
        width: 150px;
        height: 150px; 
        border: 1px;
        position: relative;
        top: 20px;
        left: 33%;
        background-color: #6e00de; 
        background-image: linear-gradient(242deg, #6e00de 0%, #d800ff 72%);
        border-radius: 50%;
        box-shadow: inset 18px 15px 24px -3px rgba(0,0,0,0.53);
    }
    .score{
        position: absolute;
        top: 40px;
        left: 55px;
        color: var(--White);
        font-size: 37px;
    }
    .results{
        position: absolute;
        top: 95px;
        left: 50px;
        color: var(--Light-lavender);
        font-size: 18px;
    }
    .greath2{
        position: absolute;
        top: 220px;
        left: 42%;
        color: var(--White);
        font-size: 28px;
    }
    .scorePara{
        position: absolute;
        top: 260px;
        left: 10px;
        color: var(--Light-lavender);
        font-size: 16px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .summaryH2{
        color: black;
        font-size: 28px;
        position: absolute;
        top: 350px;
        left: 35%;
    }
    
    /*reaction box section */
    .reactionBox{
        position: relative;
        top: 400px;
        left: 7%;
        width: 420px;
        height: 45px;
    }
    
    /*memory box section*/
    .memoryBox{
        position: relative;
        top: 415px;
        left: 7%;
        width: 420px;
        height: 45px;
    }
    
    /*verbal box content*/
    .verbalBox{
        position: relative;
        top: 430px;
        left: 7%;
        width: 420px;
        height: 45px;
    }
    
    /*verbal */
    .visualBox{
        position: relative;
        top: 445px;
        left: 7%;
        width: 420px;
        height: 45px;
    }
    
    /*button section*/
    .button{
        position: relative;
        top: 467px;
        left: 25%;
        width: 235px;
        height: 45px;
    }
}